[Unit]
Description=Run .NET Mapping Benchmarks periodically
Requires=benchmarkworker.service

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
