[Unit]
Description=.NET Mapping Benchmarks (single run)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dotnet /opt/benchmarkworker/DotnetMappingBenchmarks.dll
WorkingDirectory=/opt/benchmarkworker
SyslogIdentifier=benchmarkworker
User=ubuntu
Group=ubuntu
Environment=DOTNET_ENVIRONMENT=Production
Environment=TZ=Europe/Madrid
TimeoutStartSec=3600
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
